.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }

  .ranking-table {
    max-width: 500px; /* 必要に応じて幅を調整 */
    margin: 0 auto; /* 中央に配置 */
  }

  .text-right {
    text-align: right;
  }